fastapi
uvicorn
python-multipart

langchain>=0.3,<0.4
langchain_google_genai>=2.0,<3.0
faiss-cpu
langchain_core>=0.3,<0.4
langchain_community>=0.3,<0.4
langchain_text_splitters>=0.3,<0.4
pydantic
pypdf
beautifulsoup4

duckduckgo-search

requests
python-dotenv

streamlit